@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var makers = Model.Products.Select(c => c.Maker).Distinct();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="mb-3">
    @if (makers.Any())
    {
        <span>Filter by maker:</span>

        foreach (var maker in makers)
        {
            <a href="~/maker/@maker" class="mr-3">@maker</a>
        }
    }
</div>
<nav>
    <a href="~/newProduct" class="btn btn-primary">Add product</a>
</nav>
@if (Model.Products.Any())
{
    <section class="card-columns">
        @foreach (var product in Model.Products)
        {
            var bgColor = product.Maker == "jenlooper" ? "bg-info" : "";
            <div class="card @bgColor">
                <div class="card-body">
                    <b class="card-title">
                        @product.Title
                    </b>
                    <div>Maker: @product.Maker</div>

                    <div class="mt-3 text-right">
                        <a href="~/details/@product.Id" class="btn btn-primary">Detalles</a>
                    </div>
                </div>
            </div>
        }
    </section>
}
else
{
    <p class="lead text-center">There's no products no show</p>
}